body {
  background: #f5f6f7;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#join-form,
#login-form {
  width: 460px;
}

#header.join_membership {
  padding-bottom: 20px;
}

#header {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header .signup_header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 240px;
  height: 44px;
  margin: 0 auto;
  text-decoration: none;
  color: #06a600;
  font-size: 20px;
}

.error_next_box {
  display: block;
  margin: 9px 0 -2px;
  font-size: 12px;
  line-height: 14px;
  color: red;
}

.error_next_box.green {
  color: #08a600;
}

.ps_box {
  height: 50px;
}

.ps_box.focus {
  border: solid 1px #03c75a;
}

.ps_box,
.ps_box_disable {
  display: block;
  position: relative;
  width: 100%;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  background: #fff;
  box-sizing: border-box;
}

span.ps_box.int_favor.box_right_space {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 100%;
}

.join_title {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}

.join_birthday .ps_box {
  padding: 11px 14px;
}

.bir_wrap,
.name_wrap {
  display: table;
  width: 100%;
}

.bir_dd,
.bir_mm,
.bir_yy {
  display: table-cell;
  table-layout: fixed;
  width: 147px;
  vertical-align: middle;
}

.bir_mm + .bir_dd,
.bir_yy + .bir_mm {
  padding-left: 10px;
}

.int {
  display: block;
  /* position: relative; */
  width: 100%;
  height: 29px;
  line-height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 10;
}

:root .sel {
  background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
}

.sel {
  width: 100%;
  height: 29px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.btn_area {
  margin: 30px 0 9px;
}

.btn_primary {
  color: #fff;
  background-color: #03c75a;
  width: 49%;
  height: 50px;
}

.btn_login {
  color: #fff;
  background-color: #03c75a;
  width: 100%;
  height: 50px;
}

.form-content .favor {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
}

.ps_box .int_favor {
  width: 40%;
  margin: 30px auto;
}

.int_favor .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}

.tag i {
  font-size: 16px;
  color: #666;
  margin-left: 5px;
}

.material-icons {
  font-family: "Material Icons";
  line-height: 1;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

input#favorite {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: "Rubik";
  color: #333;
  flex: 1;
}

.modal-content-bg.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.modal-content-wrap {
  background-color: #fff;
  padding: 3%;
  outline: solid 0.5px #dadada;
  display: none;
}

.modal-content-wrap.active {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 460px;
}

.agreement {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.modal-content {
  width: 450px;
  margin: 20px auto;
}

.modal-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-body {
  padding: 10px;
  line-height: 18px;
  font-size: 13px;
  width: 100%;
  height: 130px;
  overflow: auto;
  margin-bottom: 20px;
  outline: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
}

.btn-agree {
  width: 180px;
  height: 45px;
  margin: 0 auto;
  display: block;
  background-color: #ccc;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.close {
  color: #666;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 5%;
  top: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
