<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<form name="question" action="/users" method="POST">
        <table>
            <tbody>
            <tr>
                <th scope="row">아이디</th>
                <td><input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요."></td>
            </tr>
            <tr>
                <th scope="row">비밀번호</th>
                <td><input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." onchange="isSame()"><span>(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</span></td>
            </tr>
            <tr>
                <th scope="row">이름</th>
                <td><input type="text" id="name" name="name" maxlength="20"></td><!--alt : 구글에 이미지에 대한 설명 제공 -->
            </tr>
            <tr>
                <th>생년월일</th>
                <td><input type="date" id="birthday" name="birthday"></td>
            </tr>
            <tr>
                <th>성별</th>
                <td><input type="radio" id="gender-f" name="gender" value="female">여자
                    <input type="radio" id="gender=`-m" name="gender" value="male">남자</td>
            </tr>
            <tr>
                <th scope="row">이메일</th>
                <td><input type="email" id="email" name="email"></td>
            </tr>
            <tr>
                <th scope="row">휴대 전화</th>
                <td><input type="text" id="phoneNumber" name="phoneNumber"></td>
            </tr>
            <tr>
                <th scope="row">관심</th>
                <td><input type="text" id="interest" name="interest"></td>
            </tr>
            <tr>
                <th scope="row">약관동의</th>
                <td><input type="text" id="agreement" name="agreement"></td>
            </tr>
          </tbody>

        <div class="btn_sbmWrap">
            <input type="submit" value="회원가입">
            <a href="/">취소</a>
        </div>
        </table>
</form>
</body>
</html>
