<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>로그인</h3>
<form action="/users/login" method="POST">
        <table>
            <tbody><tr>
                <td><input type="text" name="userId" placeholder="ID"></td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="PASSWORD"></td>
            </tr>



            </tbody></table>
    <input type="submit" value="로그인">
</form>
</body>
</html>
