<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>메인</title>
  </head>
  <body>
    <div class="head-message">
      Welcome to Main Page
      <span>ddd 님 환영합니다.</span>
      <a href="/users/login/form">LOGIN</a>
      <a href="/users/join/form">JOIN</a>
      <form class="form-top-nav" action="/users/logout" method="post"><button class="form-top-nav" type="submit">LOGOUT</button></form>
      <a href="/users">PROFILE</a>
    </div>
  </body>
</html>
